@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Akzidenz";
  src: local("Akzidenz-Grotesk BQ Bold Condensed"), local("../fonts/Akzidenz-Grotesk-BQ-Bold-Condensed"), url("../fonts/AkzidenzGroteskBQ-BdCnd.woff2") format("woff2"), url("../fonts/AkzidenzGroteskBQ-BdCnd.woff") format("woff"), url("../fonts/AkzidenzGroteskBQ-BdCnd.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
header {
  padding: 29px 0 33px 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-top-lang {
  display: flex;
}

.header-top-lang__item {
  display: block;
  line-height: 19px;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-family: Bebas;
  letter-spacing: 1px;
  padding: 0px 4px;
  margin: 0px 10px 0px 0px;
}
.header-top-lang__item.active {
  background-color: #000;
  color: #fff;
}

.header-top__link {
  font-family: "Akzidenz";
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 15px;
  color: #000;
}

.header-bottom {
  display: flex;
  margin-top: -10px;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: block;
  text-align: center;
}

.header-logo__text {
  display: block;
  color: #000000;
  font-family: Bebas;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.header-logo__image {
  display: inline-block;
  margin: 13px 0px 22px 0px;
}

.header-bottom-menu-list {
  display: flex;
}
.header-bottom-menu-list li {
  margin-right: 25px;
}
.header-bottom-menu-list li:last-child {
  margin-right: 0;
}

.header-bottom-menu__link {
  font-family: "Akzidenz";
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 820px;
  margin: 0 auto;
  width: 100%;
}